USE [master]
GO
/****** Object:  Database [MUZIK]    Script Date: 14.08.2021 05:28:29 ******/
CREATE DATABASE [MUZIK]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MUZIK', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MUZIK.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MUZIK_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MUZIK_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MUZIK].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MUZIK]
GO
/****** Object:  Table [dbo].[TBLMUZIK]    Script Date: 14.08.2021 05:28:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLMUZIK](
	[MUZIKID] [int] IDENTITY(1,1) NOT NULL,
	[SARKIADI] [nvarchar](30) NOT NULL,
	[ARTIST] [nvarchar](30) NOT NULL,
	[ALBUMADI] [nvarchar](30) NULL,
	[SARKISURESI] [nvarchar](30) NULL,
	[CIKISYILI] [int] NULL,
	[TUR] [int] NULL,
 CONSTRAINT [PK_TBLMUZIK] PRIMARY KEY CLUSTERED 
(
	[MUZIKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLTUR]    Script Date: 14.08.2021 05:28:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLTUR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TURAD] [nvarchar](50) NULL,
 CONSTRAINT [PK_TBLTUR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBLMUZIK] ON 

INSERT [dbo].[TBLMUZIK] ([MUZIKID], [SARKIADI], [ARTIST], [ALBUMADI], [SARKISURESI], [CIKISYILI], [TUR]) VALUES (1, N'The Wedding', N'Black Tie White Noise', N'18. stüdyo', N'5.04', 1993, 4)
INSERT [dbo].[TBLMUZIK] ([MUZIKID], [SARKIADI], [ARTIST], [ALBUMADI], [SARKISURESI], [CIKISYILI], [TUR]) VALUES (2, N'I Feel Free', N'Black Tie White Noise', N'18. stüdyo', N'4:52', 1993, 4)
INSERT [dbo].[TBLMUZIK] ([MUZIKID], [SARKIADI], [ARTIST], [ALBUMADI], [SARKISURESI], [CIKISYILI], [TUR]) VALUES (3, N'
Ugurlama', N'Hilmi Yarayıcı', N'Geliyoruz', N'4:44', 1996, 7)
SET IDENTITY_INSERT [dbo].[TBLMUZIK] OFF
GO
SET IDENTITY_INSERT [dbo].[TBLTUR] ON 

INSERT [dbo].[TBLTUR] ([ID], [TURAD]) VALUES (1, N'Blues')
INSERT [dbo].[TBLTUR] ([ID], [TURAD]) VALUES (2, N'Klasik Müzik')
INSERT [dbo].[TBLTUR] ([ID], [TURAD]) VALUES (3, N'Halk Müzikleri')
SET IDENTITY_INSERT [dbo].[TBLTUR] OFF
GO
ALTER TABLE [dbo].[TBLMUZIK]  WITH CHECK ADD  CONSTRAINT [FK_TBLMUZIK_TBLTUR] FOREIGN KEY([TUR])
REFERENCES [dbo].[TBLTUR] ([ID])
GO
ALTER TABLE [dbo].[TBLMUZIK] CHECK CONSTRAINT [FK_TBLMUZIK_TBLTUR]
GO
USE [master]
GO
